# Tugas Menghitung Jarak Antar Data

In [ ]:
pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.9/dist-packages (1.4.4)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in /usr/local/lib/python3.9/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [ ]:
import pandas as pd
from sklearn.metrics.pairwise import pairwise_distances
data = pd.read_csv('https://raw.githubusercontent.com/njungger/dataset/main/data_distance.csv')
data

     nama jenis kelamin  umur       status     jabatan
0     bob          male    20  not married  it support
1   kevin          male    21  not married  it support
2     sam          male    25      married  supervisor
3    rick          male    24  not married  it support
4  summer        female    22      married  it support

Rubah data yang belum numerik ke data numerik dengan mmenggunakan function ().codes

In [ ]:
X = data[['jenis kelamin', 'umur', 'status', 'jabatan']].copy()
X['jenis kelamin'] = pd.Categorical(X['jenis kelamin']).codes
X['umur'] = pd.Categorical(X['umur']).codes
X['status'] = pd.Categorical(X['status']).codes
X['jabatan'] = pd.Categorical(X['jabatan'], categories=['it support', 'supervisor'], ordered=True).codes

menghitung jarak data menggunakan manhattan distance

In [ ]:
dist_matrix = pairwise_distances(X, metric='manhattan') / max(pairwise_distances(X, metric='manhattan').flatten())

In [ ]:
print(dist_matrix)

[[0.         0.16666667 1.         0.5        0.66666667]
 [0.16666667 0.         0.83333333 0.33333333 0.5       ]
 [1.         0.83333333 0.         0.5        0.66666667]
 [0.5        0.33333333 0.5        0.         0.5       ]
 [0.66666667 0.5        0.66666667 0.5        0.        ]]